# VitePress build artifacts
.vitepress/cache
.vitepress/dist

# Front Matter CMS local database
/.frontmatter/

# Node / future Nuxt outputs
/node_modules/
/.nuxt/
/.output/
/dist/
/dist-ssr/

# OS/editor junk
.DS_Store
Thumbs.db
