---
---

@import "minima";

.post-meta, a {
  color: #800080;
}
.rss-subscribe a{
  text-decoration: underline;
}

.footer-col-wrapper{
  color: #525252;
}

a:visited {
  color: #86007b;
}

a:hover{
  color: #450086;
}