---
---

@import "minima";

.post-meta, a {
  color: #be00be;
  }
  
  .post-content a {
    color: #d102d1;
    text-decoration: underline;
    font-weight: bold;
}
.rss-subscribe a{
  text-decoration: underline;
}

.footer-col-wrapper{
  color: #525252;
}

a:visited {
  color: #bb0099;
}

a:hover{
  color: #5500bb;
}